.container-fluid-xxl {
    .navbar {
      background-color:$blue-color;
      font-size: 0.9rem;
      letter-spacing: 1px;
      .nav-item {
        .nav-link {
          &:hover {
            color: $yellow-hover;
          }
        }
      }
      .insight {
        height: 5rem;
        border-bottom-left-radius: 13%;
        border-bottom-right-radius: 13%;
      }
      ul{
        li{
            a{
                font-size: 13px;
                letter-spacing: 0.5px;
            }
        }
      }
  
      ul {
        li {
          p {
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.5;
          }
        }
      }
    }
}